body{
  background:#f2f2f2;
  font-family: Arial;
}

.container{
  width:60%;
  margin:auto;
  background:white;
  padding:20px;
  border-radius:8px;
}

input{
  width:100%;
  padding:10px;
  margin:6px 0;
}

button{
  padding:10px 20px;
  margin-top:10px;
  cursor:pointer;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

th,td{
  border:1px solid #999;
  padding:8px;
  text-align:center;
}

th{
  background:#ddd;
}
